#splashTitle {
  margin: auto;
  width: 100vw;
  height: 100vh;
}

.container-fluid {
  background-image: url(../css/imagenes/fondo.jpg);
  display: none;
  height: 782px;
}

#mapContainer {
  margin: auto;
  width: 60vw;
  height: 60vh;
  position: relative;
}

#filterInput {
  margin-left: 18%;
  width: 64%;
  margin-bottom: 7%;
}

#title {
  font-family: 'Abril Fatface', cursive;
  font-size: 10vh;
  text-align: center;
  margin: 2% 5% 2% 5%;
  color: white;
}